/* ------------------------------ TECH SKILLS PAGE CSS ------------------------------ */
.ab-nav-tech {
    list-style: disc;
    font-size: 28px;
}
.ab-nav-tech>a {
    font-weight: bold;
}

@media only screen and (max-width:1025px) {
    .ab-nav-tech {
        font-size: 18px;
    }
}

@media only screen and (max-width:426px) {
    .ab-nav-tech {
        font-size: 11px;
    }
}